<div class="col-6">
  <div class="mb-3">
    <form>
      <div class="form-group pt-4">
        <label for="num1">Número 1:</label>
        <input
          [(ngModel)]="num1"
          name="num1"
          type="text"
          class="form-control"
          id="num1"
          placeholder="Ingrese número 1"
        />
      </div>
      <div class="form-group pt-4">
        <label for="num2">Número 2:</label>
        <input
          [(ngModel)]="num2"
          name="num2"
          type="text"
          class="form-control"
          id="num2"
          placeholder="Ingrese número 2"
        />
      </div>
      <br />
      <button (click)="Calcular()" type="button" class="btn btn-primary">
        Operacion
      </button>
      <div class="">
        <input [(ngModel)]="operacion" class="form-check-input" type="radio" name="sumar" id="sumar" value="sumar"> 
        <label class="form-check-label" for="radioDefault1">
            Sumar
        </label>

        <input [(ngModel)]="operacion" class="form-check-input" type="radio" name="restar" id="restar" value="restar">
        <label class="form-check-label" for="radioDefault1">
            Restar
        </label>

        <input [(ngModel)]="operacion" class="form-check-input" type="radio" name="restar" id="restar" value="multiplicar">
        <label class="form-check-label" for="radioDefault1">
            Multiplicar
        </label>

        <input [(ngModel)]="operacion" class="form-check-input" type="radio" name="restar" id="restar" value="dividir">
        <label class="form-check-label" for="radioDefault1">
            Dividir
        </label>

    </div>
    </form>
  </div>
  <div class="col-6">
    <h3>Resultado: {{ resul }}</h3>
  </div>
</div>